.header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    background-color: #1d90ff;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__icon a i{
    color: #fff;
}
.title{
    margin-top: 60px;
}
p{
    font-weight: bold;
    margin: 15px 0 5px 0;
}
.input-search{  
    border-radius: 4px;
    padding: 11px 10px;
    width: 100%;
    border: 1px solid #dadee3; 
}
::-webkit-input-placeholder{
    color: #dadee3;
}
select{
    outline: none;
    border: 1px solid #d5dbe0;
    border-radius: 4px;
    width: 100%;
    padding: 11px 10px;
}

.form-search__select{
    margin-top: 20px;
}
.checkbox input{
    border-radius: 5px;
}
.label{
    font-weight: bold;
}
.checkbox{
    padding-left: 10px;
}
.checkbox .checkbox-icon{
    margin-left: 50px;
}
.add{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; 
}
button{
    width: 97%;
    margin: 10px 5px;
    padding: 10px 0;
    background-color: #29a645;
    color: #fff;
    border: none;
}
@media (max-width: 768px) {
    .header__icon{
        margin-left: -25px !important;
        margin-right: 25px !important;
    }
}