.header{
    height: 50px;
    background-color: #1d90ff;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-search{
    margin-top: 10px;
}
.form-search .input-search{
    height: 50px;
    border-radius: 0 !important;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
}
.form-search .form-search__select{
    display: flex;
    flex-direction: column;
}
.form-search .form-search__select .select-item{
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    margin-top: 10px;
    background-color: #f8f9fa;
    padding: 0 15px;
    color: #333;
}

@media (max-width: 768px) {
    .header__icon{
        margin-left: -30px !important;
        margin-right: 30px !important;
    }
}